@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");
@font-face {
  font-family: "clash-display-regular";
  src: url("/public/assets/fonts/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "clash-display-semibold";
  src: url("/public/assets/fonts/ClashDisplay-Semibold.otf");
}

body {
  background-color: #0d1010;
}

/* NAV-BAR TOGGLE ANIMATION */
.navTrigger span:nth-child(1) {
  animation: out-top 0.8s backwards;
  animation-direction: reverse;
}

.navTrigger span:nth-child(2) {
  animation: out-middle 0.8s backwards;
  animation-direction: reverse;
}

.navTrigger span:nth-child(3) {
  animation: out-bottom 0.8s backwards;
  animation-direction: reverse;
}

.navTrigger.active span:nth-child(1) {
  animation: in-top 0.8s forwards;
}

.navTrigger.active span:nth-child(2) {
  animation: in-middle 0.8s forwards;
}

.navTrigger.active span:nth-child(3) {
  animation: in-bottom 0.8s forwards;
}

@keyframes in-middle {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes out-middle {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes in-top {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(135deg);
  }
}

@keyframes out-top {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(135deg);
  }
}

@keyframes in-bottom {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(135deg);
  }
}

@keyframes out-bottom {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-6px) rotate(0deg);
  }
  100% {
    transform: translateY(-6px) rotate(135deg);
  }
}

/* HERO HEADING */

/* .hero_heading_agency {
  background: linear-gradient(180deg, #05010b 0%, rgba(5, 1, 12, 0.68) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
